@page "/{Username}/{Slug}"
@inherits BasePage

@if (IsLoading)
{
    <Loading />
}
else if (_content is not null)
{
    <div class="main">
        <div class="body">
            <div class="header">
                <span class="username">@_content.OwnerUsername</span>
                <TabDate Date="@_content.CreatedAt" RealNow="tabDateService.RealNow" />
            </div>

            <div class="title-content">
                <TabCoins Value="@_content.TabCoins" />
                <h1>@_content.Title</h1>
            </div>

            <ContentBody BodyMarkdown="@_content.Body" />
        </div>
    </div>
}

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Slug { get; set; }

    [Inject]
    private IContentService _postService { get; set; }

    private Content _content { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _content = await _postService.Get(Username, Slug);
    }
}