
<div class="post-preview" @onclick="async() => { await ClickOnPostAsync(); }">
    <span class="bold">@(Order).</span>
    <div class="preview-content">
        <span class="bold">@(PostModel.Title)</span>
        <div class="preview-footer">
            <span>@(PostModel.TabCoins) tabcoins</span>
            <Separator />
            <span>@(PostModel.ChildrenDeepCount) comentários</span>
            <Separator />
            <span>@(PostModel.OwnerUsername)</span>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public Post PostModel { get; set; }

    [Parameter]
    public int Order { get; set; }

    private async Task ClickOnPostAsync()
    {
        navigationManager.NavigateTo($"{PostModel.OwnerUsername}/{PostModel.Slug}");
    }
}
