<div class="main" style="padding: @(Content.ParentId is not null ? "1.5rem .1rem .5rem 1rem !important" : "")">
    <div class="body">
        <div class="header">
            <span class="username">@Content.OwnerUsername</span>
            <TabDate Date="@Content.CreatedAt" RealNow="RealNow" />
        </div>

        <div class="title-content">
            <TabCoins Value="@Content.TabCoins" />
            <BodyText>
                @if (string.IsNullOrEmpty(Content.Title))
                {
                    <ContentBody BodyMarkdown="@Content.Body" />
                    <button>Responder</button>
                }
                else
                {
                    <h1 style="margin-bottom: 5rem;">@Content.Title</h1>
                }
            </BodyText>
        </div>

        @if (string.IsNullOrEmpty(Content.Title) == false)
        {
            <BodyText>
                <ContentBody BodyMarkdown="@Content.Body" />
                <button>Responder</button>
            </BodyText>
        }

        @if (Content.Children is not null)
        {
            @foreach (var content in Content.Children)
            {
                <ContentComponent Content="content" RealNow="RealNow" />
            }
        }

    </div>
</div>

@code {
    [Parameter]
    public ContentModel Content { get; set; }

    [Parameter]
    public DateTime RealNow { get; set; }
}
